Ans.1 = Tuples are a data type that belongs to the sequence data type category. They're similar to lists in Python, but they have the property of being immutable. We can't change the elements of a tuple, but we can execute a variety of actions on them such as count, index, type, etc.

Ans.2 = (1) = count()	
        (2) = index()	
        Ordered = the order will not change.
        Unchangeable = , add or remove items after the tuple has been created.
        example = thistuple = ("apple", "banana", "cherry")
             print(thistuple)

Ans.3 = Set is a collection which is unordered and unindexed. No duplicate members.

Ans.4 = In Python, there are four different ways of performing union operation on collection of sets, they are as follows :
        1. union Method
             2.| Operator
                     3.update Method
                              4.|= Operator . 
         exapmle = A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8, 9}

Union of A & B :-
A U B = {1, 2, 3, 4, 5, 6, 7, 8, 9}

Ans.5 = The values in the dictionary can be of any type, while the keys must be immutable like numbers, tuples, or strings.
exapmle = Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}   
print (Dict['Tiffany'])

Ans.6 = A Nested dictionary can be created in Python by placing the comma-separated dictionaries enclosed within braces.
example = dict = {1: 'Rina', 2: 'Gita', 3: 'Sita'}  
         print(dict)

Ans.7 = 
d = {'Python', 'Machine Learning’, 'Deep Learning'}
     # space key added using setdefault() method
d.setdefault(' ', data science)
print(d)
output = {'Python', 'Machine Learning’, 'Deep Learning', ' ' data science'}

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
print(dict1)
output = {'language' : 'Python', 'course': 'Data Science Masters'}

Ans.8 = dict1 = {'Sport': 'Cricket' , 'Teams: ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
k = d.keys()
print(k)
print(type(k))

output = dict_keys(['a', 'b', 'c', 'd'])
<class 'dict_keys'>